[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-ninja = "*"
pyjwt = "*"
pydantic = {extras = ["email"], version = "*"}

[dev-packages]

[requires]
python_version = "3.14"
